
.grid-container {
  display: grid;
  grid-template-columns: 8fr 4fr;
  height:90vh;
 
}
.grid-item-left{
  background-color: rgba(255, 255, 255, 0.8);
   border-right:5px solid #eaeaeacc;
  font-size: 30px;
  text-align: center;
}
.grid-item-right{
  padding: 1rem;
}

.updatenode__controls label {
  display: block;
}

.updatenode__bglabel {
  margin-top: 10px;
}
.message-container{
  border: 1px solid #1976d2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 10%;
  color: #1976d2;
  font-size: small;
  border-radius: 5px;
}

